:root {
    --bg-primary: #1a1a1a;
    --bg-secondary: #2d2d2d;
    --text-primary: #ffffff;
    --text-secondary: #b3b3b3;
    --accent: #00a8ff;
    --hover: #0084ff;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: var(--bg-secondary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-primary);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text-secondary);
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--accent);
}

.menu-btn {
    display: none;
    cursor: pointer;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
}

.hero-content {
    padding: 2rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.highlight {
    color: #007bff;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}

.primary {
    background-color: var(--accent);
    color: #fff;
    border: none;
}

.primary:hover {
    background-color: var(--hover);
    transform: translateY(-2px);
}

.secondary {
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

.secondary:hover {
    background-color: var(--accent);
    color: var(--bg-primary);
    transform: translateY(-2px);
}

/* Sections */
section {
    padding: 5rem 2rem;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: var(--text-primary);
    position: relative;
    padding-bottom: 1rem;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
}

/* Skills Section */
.skills-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 1rem;
}

.skill-category {
    background: var(--bg-secondary);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.skill-category::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(0, 168, 255, 0.03));
    pointer-events: none;
}

.skill-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 168, 255, 0.2);
}

.skill-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(0, 168, 255, 0.1);
}

.skill-header i {
    font-size: 1.8rem;
    color: var(--accent);
    margin-right: 1rem;
}

.skill-header h3 {
    color: var(--accent);
    font-size: 1.4rem;
    font-weight: 600;
}

.skill-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.skill-items span {
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1rem;
    background: rgba(0, 168, 255, 0.1);
    border-radius: 25px;
    font-size: 0.9rem;
    color: var(--text-secondary);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 168, 255, 0.1);
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
    transform: translateY(20px);
}

.skill-items span i {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: var(--accent);
}

.skill-items span:hover {
    background: rgba(0, 168, 255, 0.2);
    transform: translateY(-2px);
    color: var(--text-primary);
    border-color: rgba(0, 168, 255, 0.3);
}

/* Update animation delays for a wave effect */
.skill-items span:nth-child(1) { animation-delay: 0.1s; }
.skill-items span:nth-child(2) { animation-delay: 0.2s; }
.skill-items span:nth-child(3) { animation-delay: 0.3s; }
.skill-items span:nth-child(4) { animation-delay: 0.4s; }
.skill-items span:nth-child(5) { animation-delay: 0.5s; }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add a subtle pulse animation to the skill category icons */
@keyframes iconPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.skill-header i {
    animation: iconPulse 2s infinite;
}

/* Add hover effect for skill categories */
.skill-category:hover .skill-header i {
    animation: iconPulse 1s infinite;
}

/* Projects Section */
.projects-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background: var(--bg-secondary);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    color: #007bff;
    margin-bottom: 1rem;
}

.tech-stack {
    margin-top: 1rem;
}

.tech-stack span {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    margin: 0.2rem;
    background: var(--bg-primary);
    border-radius: 15px;
    font-size: 0.8rem;
    color: var(--text-secondary);
}

/* Contact Section */
.contact-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #007bff;
}

.contact-info i {
    margin-right: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background: var(--bg-secondary);
    border-top: 1px solid rgba(0, 168, 255, 0.1);
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, transparent, rgba(0, 168, 255, 0.03));
    pointer-events: none;
}

footer p {
    color: var(--text-secondary);
    position: relative;
    z-index: 1;
}

footer .highlight {
    color: var(--accent);
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 1.2rem;
    }

    section {
        padding: 3rem 1rem;
    }
} 

/* Update typing animation styles */
.typing-container {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-text {
    color: var(--accent);
    border-right: 3px solid var(--accent);
    padding-right: 5px;
    font-weight: bold;
}

@keyframes blink {
    0%, 100% { border-color: transparent }
    50% { border-color: var(--accent) }
}

.typing-text {
    animation: blink 0.7s infinite;
}

/* Custom cursor */
.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.2s ease;
} 

/* About Section Styles */
.about {
    background: linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
    position: relative;
    overflow: hidden;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 50% 50%, rgba(0, 168, 255, 0.1) 0%, transparent 50%);
    pointer-events: none;
}

.about-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: start;
}

.image-frame {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 168, 255, 0.2);
    border: 3px solid var(--accent);
    transition: all 0.3s ease;
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}

.image-frame:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 168, 255, 0.3);
}

.image-frame img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease;
}

.image-frame:hover img {
    transform: scale(1.05);
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-card {
    background: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 168, 255, 0.1);
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
    transform: translateY(20px);
}

.about-card:nth-child(1) { animation-delay: 0.1s; }
.about-card:nth-child(2) { animation-delay: 0.3s; }
.about-card:nth-child(3) { animation-delay: 0.5s; }

.about-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 168, 255, 0.2);
    border-color: rgba(0, 168, 255, 0.3);
}

.about-card h3 {
    color: var(--accent);
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.about-card h3 i {
    font-size: 1.4rem;
}

.about-card p {
    color: var(--text-secondary);
    line-height: 1.7;
}

/* Responsive design for About section */
@media (max-width: 900px) {
    .about-grid {
        grid-template-columns: 1fr;
    }

    .about-image {
        margin-bottom: 2rem;
    }

    .image-frame {
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 480px) {
    .about-card {
        padding: 1.2rem;
    }

    .about-card h3 {
        font-size: 1.1rem;
    }

    .image-frame {
        width: 240px;
        height: 240px;
    }
    
    .logo-image {
        height: 45px;
    }
} 

/* Docker Contributions Section */
.docker-contribution {
    max-width: 1200px;
    margin: 0 auto 4rem;
    padding: 0 1rem;
}

.contribution-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(0, 168, 255, 0.1);
}

.contribution-header i {
    font-size: 2.5rem;
    color: var(--accent);
    animation: float 3s ease-in-out infinite;
}

.contribution-header h3 {
    font-size: 1.8rem;
    color: var(--text-primary);
}

.contribution-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.docker-card {
    background: var(--bg-secondary);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 168, 255, 0.1);
    position: relative;
    overflow: hidden;
}

.docker-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent, rgba(0, 168, 255, 0.03));
    pointer-events: none;
}

.docker-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 168, 255, 0.2);
    border-color: rgba(0, 168, 255, 0.3);
}

.docker-icon {
    width: 60px;
    height: 60px;
    background: rgba(0, 168, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.docker-icon i {
    font-size: 2rem;
    color: var(--accent);
}

.docker-card h4 {
    color: var(--text-primary);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.docker-card p {
    color: var(--text-secondary);
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.stats {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.stats span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.stats i {
    color: var(--accent);
}

.docker-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--accent);
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background: rgba(0, 168, 255, 0.1);
}

.docker-link:hover {
    background: rgba(0, 168, 255, 0.2);
    transform: translateX(5px);
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contribution-header {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }

    .docker-card {
        padding: 1.5rem;
    }

    .docker-icon {
        width: 50px;
        height: 50px;
    }

    .docker-icon i {
        font-size: 1.5rem;
    }
} 

/* Simplified Badges Section */
.badges {
    background: linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
    padding: 5rem 2rem;
}

.badges-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.badge-card {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: var(--bg-secondary);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.badge-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 168, 255, 0.2);
}

.badge-link {
    display: block;
    width: 100%;
    height: 100%;
}

.badge-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.badge-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 168, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: var(--text-primary);
}

.badge-overlay i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.badge-link:hover .badge-overlay {
    opacity: 1;
}

/* Responsive design */
@media (max-width: 768px) {
    .badge-card {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 480px) {
    .badge-card {
        width: 150px;
        height: 150px;
    }
} 

/* CV Button in Navigation */
.cv-button {
    background: linear-gradient(45deg, var(--accent), #0056b3);
    padding: 0.7rem 1.2rem !important;
    border-radius: 25px;
    color: var(--text-primary) !important;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: all 0.3s ease !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 15px rgba(0, 168, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
}

.cv-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.cv-button i {
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.cv-button:hover {
    background: linear-gradient(45deg, #0056b3, var(--accent));
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 168, 255, 0.3);
    color: var(--text-primary) !important;
}

.cv-button:hover::before {
    transform: translateX(100%);
}

.cv-button:hover i {
    transform: translateX(3px);
}

/* Update responsive design for CV button */
@media (max-width: 768px) {
    .nav-links .cv-button {
        margin: 0.5rem auto;
        justify-content: center;
        width: fit-content;
    }
} 

.badge-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.badge-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 168, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
    color: var(--text-primary);
}

.badge-overlay i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.badge-overlay span {
    font-size: 0.9rem;
}

.badge-link:hover .badge-overlay {
    opacity: 1;
} 

/* Logo styling */
.logo-image {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo a:hover .logo-image {
    transform: scale(1.1);
} 

/* Update badge image styles */
.badge-image {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(0, 168, 255, 0.05);
    padding: 1rem;
}

.badge-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.badge-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.badge-link:hover img {
    transform: scale(1.1);
}

/* Keep other badge styles the same */
.badge-card {
    background: var(--bg-secondary);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 168, 255, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    animation: fadeInUp 0.5s ease forwards;
}

/* Update responsive design */
@media (max-width: 768px) {
    .badge-image {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 480px) {
    .badge-image {
        width: 150px;
        height: 150px;
    }
} 